{% extends 'base.html' %}

{% block title %}
    <title>Bug Report List</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Bug Reports Information</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Program</th>
                <th scope="col">Report Type</th>
                <th scope="col">Severity</th>
                <th scope="col">Problem Summary</th>
                <th scope="col">Reported By</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for report in bug_reports %}
                <tr>
                    <th scope="row">{{ report.program }}</th>
                    <td>{{ report.report_type }}</td>
                    <td>{{ report.severity }}</td>
                    <td>{{ report.problem_summary }}</td>
                    <td>{{ report.reported_by }}</td>
                    <td>{{ report.date }}</td>
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit-bugReport' report.id %}">Edit</a>
                        <a href="{% url 'delete-bugReport' report.id %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create-bugReport' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>
{% endblock content %}