{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Welcome to Bughound</h1>

    <div class="text-center">
        <a href="{% url 'bugReport-list' %}"><button type="button" class="btn btn-primary">Bug Report</button></a>
    </div>
    <br style="clear:left" />
    <div class="text-center">
        <a href="{% url 'program-list' %}"><button type="button" class="btn btn-primary">Program</button></a>
    </div>
    <br style="clear:left" />
    <div class="text-center">
        <a href="{% url 'area-list' %}"><button type="button" class="btn btn-primary">Functional Area</button></a>
    </div>
    <br style="clear:left" />
    <div class="text-left">
        <a href="{% url 'home' %}"><button type="button" class="btn btn-danger">Logout</button></a>
    </div>
<!--    <h3 style="text-align: center; padding-top: 1em; padding-bottom: 1em;"> Create, Edit and Delete Bug Reports</h3>-->
{% endblock content %}